{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# @var value SessionEvents #}


{% if ea.crud.currentAction == 'detail' %}
    {{ field.formattedValue|nl2br }}
{% else %}
    {% set html_id = 'ea-text-editor-' ~ field.uniqueId %}

    {% if field.value|length > 0 %}
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#{{ html_id }}"
                aria-controls="offcanvasRight">Посмотреть
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="{{ html_id }}" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">{{ field.label }}</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row">
                    <div class="col-md-9 offset-md-1">
                        <ul class="timeline">
                            {% for key,value in field.value %}
                                <li>
                                    <p class=\"float-right\">{{ value.dateAt|date('Y-m-d H:i:s') }}</p>
                                    <p>Событие: {{ value.objectName }}</p>
                                    <p>Координаты: {{ value.coordinates }}</p>
                                    <p>Дата и время: {{ value.dateAt|date('Y-m-d H:i:s') }}</p>
                                    <p>Ответ: {{ value.response }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {#            {{ field.formattedValue|raw }} #}
            </div>
        </div>
    {% endif %}
{% endif %}
